/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-footer: rgba(255, 0, 112, 1);
  --accent-color-header: rgba(255, 0, 112, 1);
  --border-color-button: rgba(255, 0, 112, 0.4);
  --color-title: rgba(219, 0, 255, 1);
  --color-text: rgba(0, 0, 40, 1);
  --main-title: rgba(255, 0, 112, 1);
  --bg-image-page: url(../images/cover-image-dark.png);
  --padding-mobile: 10px;
  --padding-tablet-desk: 20px;
  --padding-tablet-desk-right: 29px;
  --color-text-container: rgba(241, 178, 206, 1);
  --font-family-general: "IBM Plex Mono", monospace;
}

.theme-dark .header__theme-menu-button_type_light {
  border: none;
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__rec {
  display: flex;
}
