/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-weight: normal;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--font-color);
  background-image: var(--bg-image-page);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "IBM Plex Mono", monospace;
  margin: auto;

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr min-content 1fr;
  padding-right: 20px;
  letter-spacing: 0%;
}

.header__theme-menu-button_active {
  white-space: nowrap;
  color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0px;
  line-height: 83%;
}

.section-title {
  justify-self: end;
  align-self: center;
  height: fit-content;
  background-color: var(--accent-color);
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  max-width: 364px;
  margin: 0;
}

.header__theme-menu-button {
  position: relative;
  color: var(--accent-color-header);
  background-color: transparent;
  padding: 5px 13px;
  font-size: 18px;
  font-weight: 400;
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  text-decoration-color: var(--border-color-button);
  text-underline-offset: 5px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-button);
}

button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  color: var(--accent-color);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color-header);
}

.header__theme-menu-button_type_light {
  border: 1px solid var(--accent-color-header);
}

.header__theme-menu-item {
  list-style-type: none;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-header);
  border-right: 1px solid var(--accent-color-header);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color-header);
  border-left: 1px solid var(--accent-color-header);
}

.header__rec {
  position: absolute;
  display: flex;
  top: 10px;
  right: 29px;
  color: var(--accent-color-header);
  text-transform: uppercase;
  line-height: 45px;
  font-size: 18px;
}

.header__rec::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 9px;
  margin-bottom: 2px;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

@media (width<=400px) {
  .header {
    padding-left: 10px;
  }
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
  .header__rec {
    top: 0;
    right: 20px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .section-title {
    max-width: 355px;
  }
}

@media (width=1024px) {
  .header {
    padding-right: 20;
  }

  .section-title {
    max-width: 491px;
    margin-bottom: 30px;
  }

  .header__theme-menu {
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
}

.main {
  margin: 40px 20px 0px 20px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 64px;
  column-gap: 20px;
}

.main__section-title {
  color: var(--main-title);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.main__section-article {
  display: grid;
  grid-column: 2 / span 2;
  margin-top: 20px;
  row-gap: 20px;
}

.section__sub-title {
  display: grid;
  row-gap: 20px;
  background-color: var(--accent-color);
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

.section-text {
  margin: 0;
  font-size: 18px;
  line-height: 23.4px;
  width: 400;
  padding-right: 4px;
  color: var(--color-text-container);
}

.section-link {
  color: var(--color-text-container);
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:hover {
  text-decoration: overline;
}

.section-link:focus {
  border: 1px solid var(--accent-text-container);
}

.what {
  display: grid;
  grid-column: 1/-1;
}

.section__sub-title-ves {
  display: grid;
  background-color: var(--accent-color);
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 11px;
}

.main__section-article {
  display: grid;
  grid-column: 2 / span 2;
  margin-top: 20px;
  row-gap: 20px;
}

@media (width <= 400px) {
  .main {
    margin: 40px 10px 0px 10px;
  }

  .main__section {
    display: block;
    margin-bottom: 50px;
  }

  .main__section-title {
    margin-bottom: 20px;
  }

  .main__section-article {
    display: block;
    margin-top: 0;
  }

  .main__section-block {
    margin-bottom: 20px;
  }

  .what {
    display: block;
  }
}

@media (width = 1024px) {
  .what .main__section-article {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-text {
    padding: 0;
  }
}

.card {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 18px 0 0 0;
  width: 100%;
}

.card-title {
  display: inline-block;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  background-color: var(--accent-color);
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  white-space: normal;
  margin: 0;
}

.card__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.icecrem {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.tape {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.books {
  grid-column: 2;
  grid-row: 3;
}

.street {
  grid-column: 2 / span 2;
  grid-row: 4;
}

@media (width<=400px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin-bottom: 32px;
  }
  .sunset {
    grid-column: 1;
    grid-row: 1;
  }

  .icecrem {
    grid-column: 1;
    grid-row: 2;
  }

  .tape {
    grid-column: 1;
    grid-row: 3;
  }

  .books {
    grid-column: 1;
    grid-row: 4;
  }

  .street {
    grid-column: 1;
    grid-row: 5;
  }
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-top: 60px;
}

.title {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}
@media (width<=400px) {
  .title {
    top: 52%;
    margin: 0;
  }
  .footer {
    margin: 0;
  }
}

@media (width=1024px) {
  .title {
    top: 36%;
  }
}
